/* Pablo Catalina Castelló */
/* Ultimma modificación 18/12/2019 */
body {
    background-color: hsl(198, 50%, 89%);
    font-family: sans-serif;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 54px;
    text-transform: uppercase;
}

h2 {
    font-size: 32px;
    background-color: hsl(190, 50%, 50%);
}

h3 {
    background-color: hsl(190, 50%, 65%);
    color: white;
    font-size: 26px;
}

address {
    font-family: serif;
    font-style: normal;
    text-align: right;
}

address.datos{
    font-family: serif;
    font-style: oblique;
    text-align: left;
    padding-left: 15px;
    color: black;
    background-color: rgba(241, 238, 238, 0.822);
}

p {
    text-align: justify;
}

p.negro{
    background-color: rgba(0, 0, 0, 0.658);
    margin-bottom: -3px;

} 

pre {
    background-color: white;
    font-size: 1rem;
    font-weight: bold;
}

blockquote {
    font-style: oblique;
}

span{
    color: black;
    font-size: 18px;
    font-style: normal;
}
